* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    font-family: 'Roboto', sans-serif;
    height:100vh;
    background: url(../images/kobe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
} 
/* -----------------------HEADER START------------------------- */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

.nav {
    background: black inherit;
    width: 100%;
}
nav {
    width: 1140px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
}
nav ul a {
    color: #FFFFFF;
    font-size: 17px;
    padding: 32px 20px;
    display: block;
    transition: all .2s;
    text-transform: uppercase;
    font-weight: 500;
}
nav ul a:hover{
    color: black;
    scale: 1.1;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-self: stretch; 
    flex-grow: 1;
    justify-content: center;
}
/* -------------------------- HEADER END--------------------- */




/* --------------------------MAIN START----------------------- */
main {
    width: 1140px;
    margin: -30px auto 30px;
    padding: 0 15px;
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}
section {
    width: 540px;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 6px;
    margin: 20px;
}
.news_title {
    margin: 20px 0 10px;
    color: #2C2A2A;
    font-size: 22px;
    font-weight: 700;
}
.news_pic {
    object-fit: cover;
    height: 263px;
    width: 100%;
}
.news_desc {
    color: #9B9B9B;
    font-size: 16px;
}
.product_item {
    width: 255px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product {
    display: flex;
    width: 540px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.product_item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product_title {
    color: #2C2A2A;
    padding: 12px 0;
    line-height: 6px;
}
.product_desc {
    font-size: 16px;
    color: #9B9B9B;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
}
/* ------------------------MAIN END--------------------------- */

/* --------------------------FOOTER START--------------------- */
footer{
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 155px;
}
/* --------------------------FOOTER END----------------------- */